
h1{
    font-size: 75px;
    letter-spacing: 1.3pt;
    color: white;
    line-height: 13pt;
    padding-top: 30pt;
    padding-left: 18pt;
}

h2{
    font-size: 75px;
    letter-spacing: 1.3pt;
    color: white;
    line-height: 13pt;
    padding-left: 18pt;
}

h3{
    font-size: 75px;
    letter-spacing: 1.3pt;
    color: white;
    line-height: 13pt;
    padding-left: 18pt;
    padding-bottom: 25pt;
}

div.title{
    background-color: rgb(53, 53, 53);
    div
}

.topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: rgb(80, 137, 145);
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    display: block;
    background: white;
    width: 10pt;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  div.menu{
      font-size: 20pt;
      font-family: Arial, Helvetica, sans-serif;
      color:rgb(80, 137, 145)
  }

  h4{
    font-size: 55px;
    letter-spacing: 1pt;
    color: white;
    line-height: 2pt;
    padding-top: 30pt;
    padding-left: 10pt;
    padding-right: 10pt;
  }

  h5{
      font-size: 20px;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      padding-right: 10pt;
  }
  div.projects{
      text-align: right;
      background: rgb(205, 140, 178);
  }
  
h6{
    font-size: 55px;
    letter-spacing: 1pt;
    color: rgb(80, 137, 145);
    line-height: 32pt;
    padding-left: 10pt;
}

div.sponsors{
    background:white;
}

h7{
    font-size: 55px;
    letter-spacing: 1pt;
    color: rgb(205, 140, 178);
    line-height: 50pt;
    padding-left: 10pt;
    padding-top: 30pt;
}

div.contact{
    background: rgb(53, 53, 53);
}

form{
    width: 100pt;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20pt;
}

font-family: Helvetica, sans-serif;
padding: 5%;
text-align: center;
font-size: 50;
}

#slideshow {
overflow: hidden;
height: 510px;
width: 728px;
margin: 0 auto;
}


.slide {
float: left;
height: 510px;
width: 728px;
}


.slide-wrapper {
 

width: calc(728px * 4);
 

animation: slide 10s ease infinite;
}



.slide:nth-child(1) {
background: rgb(205, 140, 178);
}

.slide:nth-child(2) {
background: rgb(53, 53, 53);
}

.slide:nth-child(3) {
background: rgb(80, 137, 145);
}

.slide:nth-child(4) {
    background: rgb(205, 140, 178);
    }



@keyframes slide {
 
20% {
    margin-left: 0px;
}
40% {
    margin-left: calc(-728px * 1);
}
60% {
    margin-left: calc(-728px * 2);
}
80% {
    margin-left: calc(-728px * 3);
}
}