body {
   
    font-family: 'Spline Sans', sans-serif;
}

.navbar-customclass {
    background-color: #110C2C;
}

.navbar-customclass .navbar-brand,
.navbar-customclass .navbar-text {
    color: #FFCA00;

}

.navbar-customclass .navbar-nav .nav-link {
    color: #FFCA00;
}

.navbar-customclass .nav-item.active .nav-link,
.navbar-customclass .nav-item:hover .nav-link {
    color: #ffffff;
}

 .rectangle {
    height: 350px;
     width: auto;
     background-color: #110C2C;
 }

 .oval1 {
    height: 650px;
    width: auto;
    background-color: #110C2C;
    border-radius: 100%;
}

.oval2 {
    height: 700px;
    width: auto;
    background-color: #FFCA00;
    border-radius: 100%;
}

.title {
    text-align: left;
    padding-left: 20%;
    padding-top: 1%;
}

.boxes {
    padding-left: 70%;
}

.boxes2 {
    padding-left: 60%;
}

h1 {
   text-align: center;
   margin-top: 2%;
}

.carousel{
    width: 60%;
    margin: auto;
}

.container {
    background-color: #252F8A ;
    width: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

hr {
    border: solid #110C2C 3px;
}
 
.social {
    background-color:#110C2C;
    text-align: center;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}