body {
   
    font-family: 'Spline Sans', sans-serif;
}

a{
    text-decoration: none;;
}

.navbar-customclass {
    background-color: #110C2C;
}

.navbar-customclass .navbar-brand,
.navbar-customclass .navbar-text {
    color: #FFCA00;

}

.navbar-customclass .navbar-nav .nav-link {
    color: #FFCA00;
}

.navbar-customclass .nav-item.active .nav-link,
.navbar-customclass .nav-item:hover .nav-link {
    color: #ffffff;
}

 .rectangle {
    height: 350px;
     width: auto;
     background-color: #110C2C;
 }

 .oval1 {
    height: 650px;
    width: auto;
    background-color: #110C2C;
    border-radius: 100%;
}

.oval2 {
    height: 700px;
    width: auto;
    background-color: #FFCA00;
    border-radius: 100%;
}

.title {
    text-align: center;
    padding-top: 7%;
}

h1 {
    font-weight: 700;
    font-size: 50px;
    color: #110C2C;
    padding-left: 5%;
}

.container{
    text-align: center;
}

.students img{
        width: 300px;
        height: auto;
        padding-top: 5%;
        padding-bottom: 5%;
}

.rectangle2 {
    height: 30px;
    width: auto;
    background-color: #FFCA00;
    margin-top: 3%;
}

.rectangle3 {
    height: 600px;
    width: auto;
    background-color:#110C2C;
    
}

form {
    text-align: left;
    color: #FFCA00;
    width: 50%;
    margin-left: 5%;
    padding-top: 5%;
}

button {
    color: #110C2C;
background-color: #FFCA00;
}

h2 {
    font-weight: 700;
    font-size: 50px;
    color:#FFCA00;
    padding-left: 5%;
    padding-top: 5%;
}

.social {
    background-color:#110C2C;
    text-align: center;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}


@media only screen and (max-width: 1000px) {
    .oval1 {
      height: 50vh;
    }

    .oval2 {
    height: 60vh;
    }
    
    .rectangle {
    height: 25vh;
    }

    .title {
        width: 700px;
    }
  }

  @media only screen and (max-width: 600px) {
      .title {
          width: 500px;
      }
  }